@import './base/_reset.scss';
@import './base/_fonts.scss';

.pages-btn {
  border-radius: 8px;
  background-color: #c92222;
  color: #fff;
  transition: all 0.3s;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 19px 34px;
  width: fit-content;
  white-space: nowrap;

  &:hover {
    opacity: 0.7;
  }
}
