// list-works start
.list-works {
  margin-bottom: 50px;
  &__select-category {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin: 25px 0 15px 0;
    color: #fff;
  }
  .filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__select-btns {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-right: 20px;
    &::-webkit-scrollbar {
      display: none;
    }

    .select-btn {
      padding: 10px 20px;
      border-radius: 41px;
      display: flex;
      align-items: center;
      gap: 6px;
      background: #161717;
      color: #8a8b8b;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.2px;
      text-align: left;
      transition: all 0.2s linear;
      white-space: nowrap;
      svg {
        display: none;
      }
      &:hover {
        background: #c92222;
        color: #fff;
      }
      &.active {
        background: #c92222;
        color: #fff;

        svg {
          display: block;
        }
      }
    }
  }
  &__select {
    color: #fff;
    position: relative;

    &-options {
      position: absolute;
      top: 100%;
      margin-top: 10px;
      right: 0;
      width: 214px;
      border-radius: 10px;
      background: #181818;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &-option {
      padding: 6px 10px;
      border-radius: 10px;
      transition: all 0.2s linear;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      text-align: left;

      &.active,
      &:hover {
        background: #f8282880;
      }
    }

    .selected-box {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      .selected-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
      }
    }
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
    grid-auto-rows: minmax(100px, auto); // Har bir qator avtomatik bo'ladi

    .card {
      color: #fff;
      background: #161717;
      padding: 15px 20px;
      border-radius: 10px;
      &.card-large {
        grid-column: span 2;
        grid-row: span 2;
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
      }
      &-category {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        margin-top: 8px;
        min-height: 161px;
      }
    }
  }
  .show-more__btn {
    margin: 35px auto 0 auto;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    background: #c92222;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    transition: all 0.3s linear;
    &:hover {
      opacity: 0.7;
    }
  }
}
// list-works end

@media screen and (max-width: 768px) {
  .list-works .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .list-works .filter-box {
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }
  .list-works__select-options {
    left: 0;
    right: unset;
  }
  .list-works__select-btns {
    width: 100%;
  }
  .list-works .filter-box {
    margin: 0 -10px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 650px) {
  .list-works .cards-container {
    grid-template-columns: 1fr;
  }
  .list-works .cards-container .card.card-large {
    grid-column: 1;
    grid-row: 1;
  }
}
