.not-found {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(../../../temple/images/dark/bg/bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;

  &__stars {
    position: absolute;
    top: 170px;
    left: 122px;
    opacity: 0.26;
  }
  &__stars2 {
    opacity: 0.26;
    bottom: 103px;
    right: 130px;
    position: absolute;
  }

  &__box {
    max-width: 531px;
  }
  &__title {
    font-size: 175px;
    font-weight: 700;
    line-height: 210px;
  }
  &__subtitle {
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    margin-top: 25px;
  }
  &__info {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #7b7b7b;
    margin: 30px 0 50px 0;
  }
  .go-back__btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 19px 45px;
    background: #c92222;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s linear;
    &:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 992px) {
  .not-found__stars {
    top: 60px;
    left: 60px;
  }
  .not-found__stars2 {
    bottom: 60px;
    right: 60px;
  }
}
@media screen and (max-width: 768px) {
  .not-found__title {
    font-size: 100px;
    line-height: 110px;
  }
  .not-found__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .not-found__info {
    font-size: 16px;
    line-height: 20px;
  }
  .not-found {
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  .not-found__stars {
    top: 20px;
    left: 20px;
  }
  .not-found__stars2 {
    bottom: 20px;
    right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .not-found__stars {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .not-found__stars2 {
    bottom: 20px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
}
