.burger_menu {
    -webkit-transform: translateX(-200vw);
    transform: translateX(-200vw);
    width: 300px;
    overflow: hidden;
    z-index: 999;
    background: #242423;
    transition: all 200ms;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    &.activ {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    &__phone {
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: right;
        color: #fff;
        transition: all 0.4s;
        &:hover {
          color: #c92222;
        }
      }
    &__bg {
        cursor: pointer;
        z-index: 99;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }
    &__content {
        overflow: auto;
        max-height: 100%;
        height: 100%;
        padding: 30px 10px;

        &_info {
            position: relative;
            padding-bottom: 20px;
            border-bottom: 1px solid #504b45;
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            .logo {
                display: block;
                transition: all 0.4s;
                cursor: pointer;
            }
            .close {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.4s;
                fill: #fff;
            }

            .header__auth_user{
                margin: 0 auto;
                margin-top: 15px;
            }
        }
    }
    &__settings {
        display: grid;
        grid-template-columns: auto;
        border-top: 1px solid #e4ddd5;

        padding-top: 18px;
        margin-bottom: 30px;
        grid-column-gap: 15px;
        .setting_wrapper {
            position: relative;
            .title {
                color: #fff;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .setting_items_wrapper {
            .setting_item_select {
                padding: 13px 10px;
                margin-top: 10px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                background: #504b45;
                img {
                    margin-right: 10px;
                }
                svg {
                    margin: auto;
                    margin-right: 0;
                    transition: all 0.4s;
                    transform: rotate(180deg);
                }
            }

            .setting_item {
                display: flex;
                border-radius: 8px;
                padding: 13px;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                align-items: center;
                transition: all 0.3s;
                img {
                    margin-right: 10px;
                }
                &:hover,
                &.activ {
                    background: #C92222;
                }
            }

            .setting_items {
                margin-top: 10px;
                border-radius: 8px;
                background: #ebe7e3;
                display: none;
                position: absolute;
                width: 100%;
                background: #504b45;
                max-height: 200px;
                overflow: auto;
            }
        }
    }

    &__buttons {
        margin-top: 20px;
        flex-direction: column;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        .button {
            font-size: 14px;
            display: block;
            margin: 0 auto;
            width: 100%;
            padding: 10px 12px;
            color: #fff;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.5s;
            background: transparent;
            background: #C92222;
        }
    }

    &__navigations {
        padding-bottom: 20px;

        .navigation {
            padding: 15px 15px;
            background: #242423;
            border-radius: 12px;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            transition: all 0.4s;
            &:hover {
                background: #C92222;
            }
            .icon {
            }
            svg {
                fill: white;
                margin-left: auto;
                transition: all 0.4s;
            }
            &.active{
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        .navigation_list {
            display: none;
            .navigation {
                grid-template-columns: auto;
                padding-left: 25px;
            }
        }
    }

    &__contact {
        margin-bottom: 30px;
        .title {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 10px;
        }

        a {
            display: block;
            color: #C92222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            transition: all 0.5s;
            cursor: pointer;
            &:hover {
                color: #9d948a;
            }
        }

        .phone {
            color: #9d948a;
            font-size: 14px;
            margin-bottom: 0;

            &:hover {
                color: #C92222;
            }
        }

        .mail {
            margin-top: 5px;
        }
    }
}