.header {

  width: 100%;
  height: auto;
  padding: 20px 0;
  position: fixed;
  z-index: 99;
  left: 0;
  max-width: 100vw;
  top: 0;
  transition: all 0.4s;
  &.header_fix{
    background: #181818;
  }

  &__items {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__auth {
    &_button_company {
      border-radius: 58px;
      background: #c92222;
      height: 100%;
      display: block;
      padding: 6px 9px;
      margin-right: 15px;
    }
    &_user {
      position: relative;
      cursor: pointer;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 13px 30px;
      border-radius: 61px;
      background: #373737;
      padding-left: 55px;

      display: inline-flex;
      align-items: center;
      @media (max-width: 470px) {
        display: none;
      }
      .avatar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: #12a108;
        img {
          width: 40px;
          height: 40px;
          min-width: 40px;
          border-radius: 100%;
        }
      }
    }
  }

  .header_item_logo {
    margin-right: 60px;
    img {
      vertical-align: middle;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    @media (max-width: 380px) {
      margin-right: 0px;
    }
  }
  &__phone {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: #fff;
    transition: all 0.4s;
    &:hover {
      color: #c92222;
    }
    @media (max-width: 380px) {
      font-size: 14px;
    }
  }

  &__navigations {
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-bottom: 0;
    gap: 40px;
    @media (max-width: 1179px) {
      display: none;
    }
    .navigation {
      position: relative;
      cursor: pointer;
      white-space: nowrap;

      & > a {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.5s;
      }
      &:hover > a {
        color: #c92222;
      }
      .lists_wrapper {
        position: absolute;
        left: -15px;
        top: 36px;
        z-index: 1;
        border-radius: 0 0 8px 8px;
        background: #181818;
        height: auto;
        max-width: 296px;
        padding: 10px;
        display: none;
      }
      .lists {
        list-style: none;
        padding-left: 0;
        .list a {
          color: #fff;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          border-radius: 8px;
          background: transparent;
          cursor: pointer;
          transition: all 0.5s;
          padding: 10px 6px;
          display: block;
          &:hover {
            background: #f8282880;
          }
          img {
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -2px;
            min-width: 14px;
          }
        }
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    position: relative;
    gap: 17px;
    &_wrapper {
      margin-left: auto;
    }
    .button {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 12px 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s;
      background: transparent;
      display: block;
      background: #c92222;
      &:hover {
        opacity: 0.5;
      }
    }

    & > .button {
      @media (max-width: 470px) {
        display: none;
      }
    }
  }

  &__settings {
    position: absolute;
    right: 0;
    top: 51px;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    background: #181818;
    display: none;
    padding: 10px;
    width: max-content;
    &_icon {
      vertical-align: middle;
      cursor: pointer;
      transition: all 0.5s;
      fill: #ffff;
      @media (max-width: 1179px) {
        display: none;
      }
      &:hover {
        fill: #c92222;
      }
      &_word {
        fill: none !important;
        stroke: #ffff;
        &:hover {
          stroke: #c92222;
        }
      }
      &_wrapper {
        position: relative;
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
    .items {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      .item {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      .title {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
      }
      .button {
        color: #fff;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 12px 10px;
        border-radius: 8px;
        background: transparent;
        cursor: pointer;
        transition: all 0.5s;
        display: flex;
        margin-bottom: 10px;
        background: #504b45;
        img {
          margin-right: 10px;
        }
        &.activ {
          background: #f8282880;
          pointer-events: none;
        }
      }
    }
  }
}

.header_mobile {
  &__icon {
    display: block;
    margin-left: 15px;
    transition: all 0.5s;
    cursor: pointer;
    @media (min-width: 1179px) {
      display: none;
    }
    .rect {
      width: 30px;
      height: 5px;
      background: #fff;
      margin-bottom: 5px;
      border-radius: 5px;
      transition: all 0.3s;
    }
    &:hover .rect {
      background: #c92222;
    }
  }
}
