.form-control__select2 {
  width: 100%;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 10px 15px;
  border-radius: 10px;
  height: 40px;
}
.select2-container .select2-selection--single {
  border: none;
  border-radius: 10px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  background: #121212;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #fff transparent transparent transparent;
}

.select2-container--open .select2-dropdown--below {
  box-shadow: 0px 0px 3.4px 0px #00000038;
  background: #161717;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  z-index: 1000000;
  margin-top: 10px;
  // top: 10px;
  top: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 6px 6px 6px 34px;
  color: #fff;
  background: url(/temple/images/dark/icons/search-icon.svg) no-repeat, #121212;
  background-size: 14px 14px;
  background-position: 12px center;
  &::placeholder {
    color: #353535;
  }
}
.select2-search .select2-search--dropdown,
.select2-search--dropdown {
  padding: 0;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
  background: transparent;
}
.select2-results__option--selectable {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 0 12px 0;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.select2-search,
.select2-search--dropdown {
  margin-bottom: 11px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}
.select2-container--default .select2-selection--single {
  background: transparent;
  height: 100%;
}

.select2-container {
  width: 100% !important;
}

.number-select .select2-selection__rendered {
  padding: 10px !important;
  min-width: 50px;
  text-align: center !important;
}

.select2-search--hide + .select2-results {
  text-align: center;
}
.select2-container--open .select2-dropdown--above {
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3.4px 0px #00000038;
  background: #161717;
}
.select2-container {
  z-index: 1000000;
}
